<% layout('/layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>

  <div class="col-6 offset-3">
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Campground Title</label>
        <input type="text" class="form-control" name="campground[title]" id="title" value="<%= campground.title %>" required />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" name="campground[location]" id="location" value="<%= campground.location %>" required />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- Allow users to add more campground images -->
      <div class="mb-3">
        <label for="image" class="form-label"> Add More Images</label>
        <input type="file" name="image" class="form-control" id="image" multiple />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Campground Price (USD)</label>

        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="campground[price]" id="price" value="<%= campground.price %>" required />
          <span class="input-group-text">.00</span>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="campground[description]" id="description" required><%= campground.description %></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <button class="btn btn-warning mb-3">Update Campground</button>
    </form>

    <a href="/campgrounds/<%= campground._id %>"> Back To Campground </a>
  </div>
</div>
