<% layout('/layouts/boilerplate') %>
<script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0-beta.21/web.js"></script>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>

  <div class="col-md-6 offset-md-3">
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data" id="edit-campground-form">
      <div class="mb-3">
        <label for="title" class="form-label">Campground Title</label>
        <input type="text" class="form-control" name="campground[title]" id="title" value="<%= campground.title %>" required />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" name="campground[location]" id="location" value="<%= campground.location %>" hidden required />
        <div id="mapbox-container">
          <mapbox-geocoder access-token="pk.eyJ1IjoiYXRjNTMxNyIsImEiOiJjbHlzdDN3aDkwbHJhMmtwd3ppeGMwZXR3In0.SIqJ5JKRiqqDMviXsrUASQ" proximity="0,0"> </mapbox-geocoder>
        </div>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a location for the campground.</div>
      </div>

      <!-- Allow users to add more campground images -->
      <div class="mb-3">
        <label for="image" class="form-label"> Add More Images</label>
        <input type="file" name="image" class="form-control" id="image" multiple />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Campground Price (USD)</label>

        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="campground[price]" id="price" value="<%= campground.price %>" required />
          <span class="input-group-text">.00</span>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="campground[description]" id="description" required><%= campground.description %></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- Display all the current campground images in case the author wishes to delete any -->
      <div class="mb-3">
        <% campground.images.forEach(function(img, index) { %>
        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="" />
        <div class="form-check-inline mt-2 mb-3">
          <input class="form-check-input" type="checkbox" name="deleteImages[]" value="<%= img.filename %>" id="image-<%= index %>" />
          <label class="form-check-label" for="image-<%= index %>">Delete</label>
        </div>
        <% }) %>
      </div>

      <button class="btn btn-warning mb-3" id="update-campground-button">Update Campground</button>
    </form>

    <a href="/campgrounds/<%= campground._id %>"> Back To Campground </a>
  </div>
</div>

<script src="/js/editPage-mapbox-geocode-search.js"></script>
